<section>
    <img src="<%= book.thumbnail_url %>" />
    <h3> <%= book.title %> </h3>
    <h3> <%= book.authors %> </h3>
    <p><%= book.description %> </p>
    <h3> <%= book.isbn13 %> 
        <% if ( book.bookshelf) { %>
        &mdash;
        Bookshelf:
        <%= book.bookshelf %>
        <% } %>
    </h3>

</section>

