<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
</head>
<body>
    <h1>Saved books</h1>

    <ul>
        <% booksArray.forEach(result => { %>
            <!-- <form action="/books" method="post"> -->
                <img src="<%= result.thumbnail_url %>" />
                <li><%= result.title %></li>
                <li><%= result.authors %></li>
                <li><%= result.thumbnail_url %></li>
                <li><%= result.description %></li>
                <!-- <input type="hidden" name="title" value="<%= result.title %>" />
                <input type="hidden" name="authors" value="<%= result.authors %>" />
                <input type="hidden" name="thumbnail_url" value="<%= result.thumbnail_url %>" />
                <input type="hidden" name="description" value="<%= result.description %>" />
            <button>Add to my bookshelf</button>
            </form> -->
        <% }) %>
        
    </ul>
</body>
</html>
